#root {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 30px;
}

body {
  padding-bottom: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 120%;
}

a {
  color: #00B7FF;
}


 /* Navbar */
.choice {
  font-family: Arial, sans-serif;
  font: white;
}

.choice:hover {
  background-color: #7900C2;
  transition: color 0.25s ease, background-color 0.25s ease;
}

.navbar-nav {
  color: white;
}

.navbar {
  background-color: #000;
}

.navbar-inverse {
  background-image: none;
  color: white;
}

.navbar-fixed-top {
  border: 0;
}

header {
  margin-bottom: 25px;
}